<section *ngIf="!finished && !loading">
  <div class="quizz__container">
    <div class="quizz__top">
      <div class="quizz__title">
        <h3> {{ quizzFull.title }} </h3>
      </div>
      <div class="quizz__question">
        <h4> {{ quizzQuestions[questionCounter].question }} </h4>
      </div>
    </div>
    <div class="quizz__options">
      <app-option
      *ngFor="let option of quizzQuestions[questionCounter].options"
      [option]="option"
      (selectedOption)="optionSelected($event)"
      >
    </app-option>
    </div>
  </div>
</section>

<section *ngIf=loading class="loading__container">
  <app-loading></app-loading>
</section>


<section *ngIf=finished>
  <div class="result__container">
    <app-result
    [result] = "quizzResult"
    >
    </app-result>
  </div>
</section>

