.quizz-card__container {
  width: 300px;
  height: 250px;
  overflow: hidden;

  border-radius: 10px;
  border: 3px solid #978e83;

  position: relative;
  transition: transform 0.3s;
}

.quizz-card__container:hover{
  transform: scale(1.1);
}

#quizz-card__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quizz-card__container > a {
  text-decoration: none;
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.quizz-card__title{
  position: absolute;
  bottom: 0px;
  text-align: justify;
  text-align-last: center;
  margin: 0 10%;
  margin-bottom: 5px;
}

#star {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 35px;
}
