.loading__anim {
  animation: 2s right-move ease-out infinite;
}
@keyframes right-move {
  0%{
    opacity: 0;
    transform: translateX(-80%);
  }
  20%{
    opacity: 0;
  }
  50%{
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
